<header class="site-header">
  <div class="container header-inner">
    <a class="logo" href="/">Bare Petal</a>
    <nav class="main-nav" aria-label="Main navigation">
      <a href="/collections/all">Shop All</a>
      <a href="/collections/all">Skincare</a>
      <a href="/collections/all">Makeup</a>
      <a href="/collections/all">Best Sellers</a>
    </nav>
  </div>
</header>